
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import './bootstrap.scss';
@import './font-awesome.min.scss';
@import './global.scss';
@import './ion.rangeSlider.scss';
@import './ion.rangeSlider.skinFlat.scss';
@import './jquerysctipttop.scss';
@import './linearicons.scss';
@import './magnific-popup.scss';
@import './main.scss';
@import './nice-select.scss';
@import './nouislider.min.scss';
@import './owl.carousel.scss';
@import './themify-icons.scss';




.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
