<template>
    <div id="app">
        <h1>Hola papa</h1>
        <hr>
        <router-view></router-view>
    </div>
</template>

<script>
    export default {
        data() {
            return{

            }
        }
    }
</script>
